Django==1.9.8
-e git+git@github.com:timbest/django-multi-form-view.git@856ce0148975eeaf9921da3412baef307f8cdd55#egg=django_multi_form_view
Pillow==3.3.0
behave==1.2.5
behave-django==0.3.0
enum34==1.1.6
parse==1.6.6
parse-type==0.3.4
setuptools==25.1.2
coverage==4.2
codecov==2.0.5
requests==2.10.0
