Django==1.11.18
-e git+git@github.com:timbest/django-multi-form-view.git@8273846a94cbae1b6b9b87c813744c88207c6216#egg=django_multi_form_view
Pillow==5.4.1
behave==1.2.6
behave-django==1.1.0
enum34==1.1.6
parse==1.11.1
parse-type==0.4.2
selenium==3.141.0
setuptools==25.1.2
splinter==0.7.5
coverage==4.2
codecov==2.0.16
requests==2.20.0
